@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

* {
    font-family: "JetBrains Mono", mono;
}

html {
    background-image: linear-gradient(rgb(12, 92, 112), rgb(0, 43, 54));
}

body {
    padding: 0.5em;
    margin: 1em;
}

.container {
    border-radius: 15px;
    box-shadow: 0px 0.5em 10px;
    padding: 1em;
    margin: 0 auto 1em auto;
    max-width: 55em;
    background-image: linear-gradient(rgb(0, 43, 54), rgb(12, 92, 112));
}

p {
    color: rgb(187, 187, 187);
}

h2 {
    color: rgb(126, 94, 0)
}

h3 {
    color: white;
}

.footer {
    box-shadow: 0px 0.5em 10px;
    margin: 0 auto 1em auto;
    border-radius: 0px 0px 15px 15px;
    max-width: 50em;
    text-align: center;
    background-image: linear-gradient(rgb(0, 43, 54), rgb(12, 92, 112));
    padding: 1em;
}

.banner {
    margin: 0 auto 1em auto;
    max-width: 55em;
    box-shadow: 0px 0.5em 10px black;
    border-radius: 15px;
    background-color: black;
}

button {
    background-color: rgb(0, 43, 54);
    border-radius: 15px;
    color: rgb(187, 187, 187);
    transition: background-color 0.5s;
    margin: 5px;
}



button:hover {
    background-color: rgb(80, 92, 0);
}

li {
    list-style-type: disc;
    color: rgb(133, 153, 0)
}

a:link {
    color: rgb(211, 54, 130);
    text-decoration: none;
    transition: font-size 0.5s;
}

a:visited {
    color: rgb(211, 54, 130);
    text-decoration: none;
}

a:hover {
    color: rgb(236, 60, 145);
    font-weight: bold;
    text-decoration: underline;
    font-size: 130%;
}

a:active {
    color: rgb(236, 60, 145);
    font-weight: bolder;
    text-decoration: none;
}
