@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
    font-family: "Comic Sans MS", Lexend, cursive;
}

html {
    background-image: linear-gradient(rgb(86, 173, 255), rgb(139, 203, 255));
}

h1 {
    color: rgb(255, 248, 231);
}

p {
    color: rgb(255, 248, 231);
}

h2 {
    color: rgb(255, 248, 231);
}

h3 {
    color: rgb(255, 248, 231);
}

button {
    color: rgb(255, 248, 231);
    background-color: rgb(86, 173, 255);
    border-color: rgb(255, 248, 231);
    border-radius: 15px;
    transition: background-color 0.5s;
    margin: 5px;
}

button:hover {
    background-color: rgb(13, 166, 255);
}

body {
    padding: 0.5em;
    margin: 1em;
}

.container {
    border-radius: 15px;
    box-shadow: 0px 0.5em 10px rgb(255, 248, 231);
    padding: 1em;
    margin: 0 auto 1em auto;
    max-width: 55em;
    background-image: linear-gradient(rgb(86, 173, 255), rgb(139, 203, 255));
}

.footer {
    box-shadow: 0px 0.5em 10px rgb(255, 248, 231);
    margin: 0 auto 1em auto;
    border-radius: 0px 0px 15px 15px;
    max-width: 50em;
    text-align: center;
    background-image: linear-gradient(rgb(86, 173, 255), rgb(139, 203, 255));
    padding: 1em;
}

.banner {
    margin: 0 auto 1em auto;
    max-width: 55em;
    box-shadow: 0px 0.5em 10px rgb(255, 248, 231);
    border-radius: 15px;
    background-color: rgb(255, 248, 231);
}


li {
    list-style-type: disc;
    color: rgb(255, 248, 231);
}

a:link {
    color: black;
    text-decoration: none;
    transition: font-size 0.5s;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: rgb(51, 51, 51);
    font-weight: bold;
    text-decoration: underline;
    font-size: 130%;
}

a:active {
    color: rgb(51, 51, 51);
    font-weight: bolder;
    text-decoration: none;
}
