@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

* {
    font-family: "JetBrains Mono", mono;
}

html {
    background-image: linear-gradient(rgb(73, 73, 73), rgb(41, 41, 41));
}

h1 {
    color: white;
}

p {
    color: white;
}

h2 {
    color: white;
}

h3 {
    color: white;
}

button {
    color: white;
    background-color: rgb(65, 65, 65);
    border-color: white;
    border-radius: 15px;
    transition: background-color 0.5s;
    margin: 5px;
}

button:hover {
    background-color: rgb(41, 41, 41);
}

body {
    padding: 0.5em;
    margin: 1em;
}

.container {
    border-radius: 15px;
    box-shadow: 0px 0.5em 10px;
    padding: 1em;
    margin: 0 auto 1em auto;
    max-width: 55em;
    background-image: linear-gradient(rgb(41, 41, 41), rgb(65, 65, 65));
}

.footer {
    box-shadow: 0px 0.5em 10px;
    margin: 0 auto 1em auto;
    border-radius: 0px 0px 15px 15px;
    max-width: 50em;
    text-align: center;
    background-image: linear-gradient(rgb(41, 41, 41), rgb(65, 65, 65));
    padding: 1em;
}

.banner {
    margin: 0 auto 1em auto;
    max-width: 55em;
    box-shadow: 0px 0.5em 10px black;
    border-radius: 15px;
    background-color: black;
}



li {
    list-style-type: disc;
    color: white;
}

a:link {
    color: rgb(218, 95, 2);
    text-decoration: none;
    transition: font-size 0.5s;
}

a:visited {
    color: rgb(218, 94, 0);
    text-decoration: none;
}

a:hover {
    color: rgb(255, 102, 0);
    font-weight: bold;
    text-decoration: underline;
    font-size: 130%;
}

a:active {
    color: rgb(255, 130, 46);
    font-weight: bolder;
    text-decoration: none;
}
