@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

* {
    font-family: "JetBrains Mono", mono;
}

html {
    background-color: black;
}

h1 {
    color: rgb(255, 231, 14);
}

p {
    color: rgb(255, 231, 14);
}

h2 {
    color: rgb(255, 231, 14);
}

h3 {
    color: rgb(255, 231, 14);
}

button {
    color: rgb(255, 231, 14);
    background-color: rgb(14, 83, 139);
    border-color: rgb(255, 231, 14);
    border-radius: 15px;
    transition: background-color 0.5s;
    margin: 5px;
}

button:hover {
    background-color: black;
}

body {
    padding: 0.5em;
    margin: 1em;
}

.banner {
    margin: 0 auto 1em auto;
    max-width: 55em;
    box-shadow: 0px 0.5em 10px black;
    border-radius: 15px;
    background-color: black;
}

.container {
    border-radius: 15px;
    box-shadow: 0px 0.5em 10px;
    padding: 1em;
    margin: 0 auto 1em auto;
    max-width: 55em;
    background-color: rgb(14, 83, 139);
}

.footer {
    box-shadow: 0px 0.5em 10px;
    margin: 0 auto 1em auto;
    border-radius: 0px 0px 15px 15px;
    max-width: 50em;
    text-align: center;
    background-color: rgb(14, 83, 139);
    padding: 1em;
}



li {
    list-style-type: disc;
    color: rgb(255, 231, 14);
}

a:link {
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: font-size 0.5s;
}

a:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:hover {
    color: rgb(255, 231, 14);
    font-weight: bold;
    text-decoration: underline;
    font-size: 130%;
}

a:active {
    color: rgb(255, 231, 14);
    font-weight: bolder;
    text-decoration: none;
}