@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    font-family: "vt323", serif;
}

html {
    background-color: black;
}

body {
    padding: 0.5em;
    margin: 1em;
}

h1 {
    color: white;
}

p {
    color: white;
}

h2 {
    color: white;
}

h3 {
    color: white;
}

.container {
    border-radius: 15px;
    border: white dashed;
    padding: 1em;
    margin: 0 auto 1em auto;
    max-width: 55em;
    background-color: black;
    border-top: 1em white solid;
}

.footer {
    border: white dashed;
    margin: 0 auto 1em auto;
    border-radius: 0px 0px 15px 15px;
    max-width: 50em;
    text-align: center;
    background-color: black;
    padding: 1em;
    border-top: 1em white solid;
}

.banner {
    margin: 0 auto 1em auto;
    max-width: 55em;
    box-shadow: 0px 0.5em 10px black;
    border-radius: 15px;
    background-color: black;
}

button {
    background-color: black;
    border-radius: 15px;
    color: white;
    transition: background-color 0.5s;
    margin: 5px;
}

button:hover {
    background-color: rgb(51, 51, 51);
}

li {
    list-style-type: disc;
    color: white;
}

a:link {
    color: rgb(175, 175, 175);
    text-decoration: none;
    transition: font-size 0.5s;
}

a:visited {
    color: rgb(175, 175, 175);
    text-decoration: none;
}

a:hover {
    color: rgb(107, 107, 107);
    font-weight: bold;
    text-decoration: underline;
    font-size: 130%;
}

a:active {
    color: rgb(107, 107, 107);
    font-weight: bolder;
    text-decoration: none;
}
